<%- model_class = Post -%>
	<div class="page-header">
	  <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>
	</div>
<% if user_signed_in? %>
  <%= render :partial => "message_form" %>        
<% end %>

<div id="posts">
	<%= render :partial => @posts %> 
</div>
